<h2>Crear Libro</h2>

<form method="POST">

    <label>Titulo:</label>
    <input type="text" name="titulo" required><br><br>

    <label>ISBN:</label>
    <input type="number" name="isbn" required><br><br>

    <hr>
    <h3>Seleccionar Autor Existente</h3>

    <select name="autor_id">
        <option value="">-- Seleccione un autor --</option>
        {% for autor in autores %}
        <option value="{{ autor.AUTOR_ID }}">
            {{ autor.nombre }}
        </option>
        {% endfor %}
    </select>

    <hr>
    <h3>O Crear Nuevo Autor</h3>

    <label>Nombre:</label>
    <input type="text" name="nuevo_autor_nombre"><br><br>

    <label>Nacionalidad:</label>
    <input type="text" name="nuevo_autor_nacionalidad"><br><br>

    <label>Fecha nacimiento:</label>
    <input type="date" name="nuevo_autor_fecha"><br><br>

    <button type="submit">Guardar</button>
</form>